@model IEnumerable<NavaTraining.Areas.Admin.ListFilterUsers>

@{
    ViewBag.Title = "ManageFilterUsers";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>ManageFilterUsers</h2>

<table>
    <tr>
        <td>نام کاربری :</td>
        <td style="margin-left:7px;">
        <input type="checkbox" value="صنعتی شریف"  id="Search"  class="form-control" /></td>
      
        <td></td>
        <td>@Html.ActionLink("نمایش همه", "ManageUsers", "Admin", FormMethod.Post, new { @class = "btn btn-success" });</td>
    </tr>
</table>
<div id="Users_loding">
    <table class="table table-bordered table-condensed table-responsive table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Family)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UniName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SectionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FieldName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avrage)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Family)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UniName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SectionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FieldName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Avrage)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
}

    </table>

</div>

@section scripts{
<script>


    $('#Search').click(function () {

        var Search = $('#Search').val();

        if (Search != null) {


            $.ajax({

                url: "/Default/Load_UsersbySearch",
                data: { Search: Search },
                method: "POST",
                success: function (data) {
                    $("#Users_loding").fadeIn(1).html(data);
                }
            });
        }
        else {

            $.load("#Users_loding");
        }

    });


    $(ducoment).ready(function () {
        function Contains(text_one,text_two)
        {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if(!Contains($(this).text().toLowerCase(),searchText))
                {
                    $(this).hide();
                }
                else
                {
                    $(this).show();
                }
            });

        });
    });
</script>
}