@model NavaTraining.Models.RecoveryPasswordViewModel

@{
    ViewBag.Title = "RecoveryPass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RecoveryPass</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @if (ViewBag.SendEmail != null)
        {

            <div class="alert alert-success">
                ایمیل بازیابی کلمه عبور برای شما ارسال شد
            </div>
        }
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                <p class="help-block">ایمیل خود را وارد کنید تا لینک بازیابی برای شما ارسال شود</p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send Link" class="btn btn-default" />
            </div>
        </div>
    </div>
}
